body {
  margin: 0;
  font: 14px/1.5 Arial;
  color: #666;
  background: #efefef;
}
.layout {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}

header {
  background: #3c3c3c;
  width: 100%;
  text-align: center;
  padding: 60px 0 10px 0;
  color: #fff;
}
header > h1 {
  font-size: 30px;
  margin-bottom: 0;
}
header > p {
  font-size: 18px;
  margin: 0;
  color: #aaa;
}
section a {
  text-decoration: none;
  color: #333;
}
aside {
  position: relative;
  width: 30%;
  padding-top: 80px;
  border-right: 1px solid #ccc;
}
aside .avatar {
  text-align: center;
  position: absolute;
  top: -80px;
  width: 100%;
}
aside .avatar img {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #ccc;
}
section {
  border-bottom: 1px solid #ccc;
  margin: 30px 20px 0 20px;
  padding-bottom: 20px;
}
section:last-child {
  border: none;
}
section h2 {
  color: #5c99ca;
  font-size: 16px;
}

.personal .item span:first-child {
  display: inline-block;
  width: 20%;
}
.personal .item span:last-child::before {
  content: ":";
  margin-right: 5px;
}
.skills .item {
  display: flex;
  align-items: center;
}
.skills .item span:first-child {
  width: 40%;
}
.skills .item span:last-child {
  flex: 1;
  background: #ccc;
  height: 4px;
}
.skills .item span:last-child i {
  background: #000;
  display: block;
  height: 4px;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.contact .item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact .item a {
  display: flex;
  align-items: center;
}
.contact svg {
  width: 25px;
  height: 25px;
}
.contact span {
  margin-left: 10px;
}
.education .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.education .item h3 {
  margin-bottom: 0;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h3 {
  margin: 0;
}
main {
  flex: 1;
  min-height: calc(100vh - 100px);
}
.scan {
  margin-top: 10px;
}
.scan img {
  margin-left: 24px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  header {
    padding-top: 20px;
    padding-bottom: 90px;
  }
  aside {
    width: 100%;
    padding-top: 0;
  }
  aside .avatar img {
    width: 100px;
    height: 100px;
  }
  section {
    padding-bottom: 10px;
    margin-top: 16px;
  }
  .contactWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contactWrap h2 {
    width: 100%;
  }
  .personalWrap {
    display: none;
  }
  .skillsWrap {
    display: none;
  }
}
@media (max-width: 600px) {
  .contactWrap {
    display: block;
  }
  .contactWrap .contact {
    width: 40%;
  }
}
@media print {
  body {
    background: #fff;
  }
}
